<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93591380261-ig6aa6jossrdace4kglkarrf14qkbs8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93591380261-ig6aa6jossrdace4kglkarrf14qkbs8i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93591380261-a20nvqklijrcv84isdr16d40m0lclape.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3VitIk7HaslpQaL5fx09Uuo8kl_hG3K4</string>
	<key>GCM_SENDER_ID</key>
	<string>93591380261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.appfab.looklikecelebrity</string>
	<key>PROJECT_ID</key>
	<string>look-like-celebrity</string>
	<key>STORAGE_BUCKET</key>
	<string>look-like-celebrity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93591380261:ios:5b0b535776c2754e8afacc</string>
	<key>DATABASE_URL</key>
	<string>https://look-like-celebrity.firebaseio.com</string>
</dict>
</plist>